<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pomodoro Clock</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="style.css">

  </head>
  <body ng-app="ngPomodoro" ng-controller="ctrPomodoro">

    <div id="container">
      <h1>Pomodoro clock</h1>
      <div id="buttons">
        <div id="break">
          <h2>Break Length</h2>
          <div class="time">
          <button ng-click="decreaseBreak()">-</button>
          <input ng-model="break">
          <button ng-click="increaseBreak()">+</button>
          </div>
        </div>

        <div id="session">

          <h2>Session length</h2>
          <div class="time">
          <button ng-click="decreaseSession()">-</button>
          <input ng-model="session">
          <button ng-click="increaseSession()">+</button>
          </div>
        </div>

      </div>

      <div id="clock" ng-click="startTimer()">
        <h2>Session</h2>
        <p id="Time">{{displayTime}}</p>
      </div>

    </div>
  </body>
</html>
