@import 'https://fonts.googleapis.com/css?family=Orbitron';

body{
  margin: 0px;
  background-color: #333333;
}

#container{
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

#container h1{
  font-size: 3em;
}


#buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
}

input{
  width: 50px;
  font-size: 25px;
  text-align: center;
}

#clock{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border: 3px solid #99CC00;
  border-radius: 50%;
  margin-top: 10px;
  color: white;
  text-align: center;
}

#break{
  margin: 5px;
}
#session{
  margin: 5px;
}

.time{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.time button{
  margin: 8px;
  font-size: 2em;
  color: white;
  background: none;
  border: none;
}

.time p{
  font-size: 1.5em;
  color: white;
}

#mainButtons{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#mainButtons button{
  width: 80px;
  margin: 5px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

#mainButtons #start{
  background-color: green;
}

#mainButtons #start:hover{
  cursor: pointer;
  background-color: white;
  color: green;
}

#mainButtons #stop{
  background-color: red;
}

#mainButtons #stop:hover{
  cursor: pointer;
  background-color: white;
  color: red;
}


@media only screen and (max-width: 1020px){
  #container{
    width: 100vw;
    height: inherit;
  }

  #container h1{
    text-align: center;
  }

  #clock{
    width: 200px;
    height: 200px;
  }
}